# Supabase Public Client Configuration
VITE_SUPABASE_URL=https://owaylzikmzauicpguyax.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im93YXlsemlrbXphdWljcGd1eWF4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA2MTcyMzksImV4cCI6MjEwNjE5MzIzOX0.yJJOGaRLVd5K9MRIWku2RITfXuYeotf3cIwgbgp7iik
